.checkout_ad{
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    height: max-content;
}

.checkout{
    display: flex;
    padding: 20px;

}

.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}